<fieldset class='main_container'>
    <legend>
        Create a path
    </legend>
    <label for='name'>
        Name
    </label>
    <input type='text' id='path[name]' name='path[name]'/>
    <br/>
    <label for='description'>
        Description
    </label>
    <input type='text' id='path[description]' name='path[description]'/>
    <br/>
    <input type='submit' value='Submit Path' onclick='submitPath()'/>
	<%# form_remote_tag :url { :action => 'edges/show_from_path', :id => } -%><input type='submit' value='Save Draft' onclick='submitPath()'/> <%# TODO: change submitPath() to a more appropriate function-%>
</fieldset>