<% content_for :head do %>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Create a path</title>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<%= javascript_include_tag 'map' %>
<%# Want to add functionality demoed in http://code.google.com/apis/maps/documentation/javascript/examples/polyline-complex.html -%>
<script type="text/javascript">
  
  var poly;
  var map;

  //Should all go into main map file
  function initialize() {

  map= document.getElementById("map_canvas");
  initGSearch(document.getElementById("map_canvas"));

    var polyOptions = {
      strokeColor: '#000000',
      strokeOpacity: 1.0,
      strokeWeight: 3
    }

  poly = new google.maps.Polyline(polyOptions);

  poly.setMap(map);
  
  // Add a listener for the click event
    google.maps.event.addListener(map, 'click', addLatLng);
  
  }
  
  /**
   * Handles click events on a map, and adds a new point to the Polyline.
   * @param {MouseEvent} mouseEvent
   */
  function addLatLng(event) {

    var path = poly.getPath();

    // Because path is an MVCArray, we can simply append a new coordinate
    // and it will automatically appear
    path.push(event.latLng);

    // Add a new marker at the new plotted point on the polyline.
    var marker = new google.maps.Marker({
      position: event.latLng,
      title: '#' + path.getLength(),
      map: map
    });
  }


  window.onload = initialize;
</script>
<% end %>
<h1>Click points on map to create a path</h1>

<%#= render :partial => 'form' -%>

<div id="map_canvas" style="width:500px; height:400px"></div>

<%= link_to 'Back', paths_path %>
