<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 

      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <script src="http://maps.google.com/maps?file=api&v=1

            &key="ABQIAAAAxEu4zYabDH1ybGR2fHbcZxSIOG_jcHTbyiVdF_0wDxeB8HluTRS8uPj0RuK03a-gofElARj0S6zaTQ" type="text/javascript">

    </script>

  </head>

  <body>

    <div id="map" style="width: 400px; height: 300px"></div>

    <script type="text/javascript">

    //<![CDATA[

    

    var map = new GMap(document.getElementById("map"));

    map.centerAndZoom(new GPoint(42.367093, -71.2591), 3);

    

    //]]>

    </script>

  </body>

</html>
