<% content_for :head do %>
	<meta http-equiv="content-type" name="viewport" content="initial-scale=1.0, user-scalable=no"/> 

	<title>Search</title>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

	<%= javascript_include_tag 'map' %>
	<script type="text/javascript">
	function temp() {
		initGSearch(document.getElementById("map_canvas"));
	}
	window.onload = temp;
	</script>
<% end %>

	<h2> Search for a path </h2>

	<% form_tag :action=> "directions" do %>
	<fieldset>
		<legend> Where do want to go from? </legend>

		<p>
			<label for="start"> Start: </label>
			<%= text_field_tag :start, @start %>
		</p>

		<p>
			<label for="end"> End: </label>
			<%= text_field_tag :end, @end %>
		</p>

		<p><%= submit_tag "Search!" %></p>
	</fieldset>
	<% end %>

	<div id="map_canvas" style="width:500px; height:400px"></div>
