<div id=page>
	<div id="wrapper">
		<div id="content">
			<p> Hi, Welcome to the Cakewalk Home Page! </p>
		</div>

		<div id="sidebar2" class="sidebar">
			<ul>
				<li>
					<ul>
						<h2> Top Tours </h2>
						<li> Aliquam libero</li>
						<li> Consectetuer adipiscing elit</li>
						<li> Metus aliquam pellentesque</li>
						<li> Suspendisse iaculis mauris</li>
					</ul>
				</li>
				<li>
					<ul>
						<h2> Top Tours </h2>
						<li> Aliquam libero</li>
						<li> Consectetuer adipiscing elit</li>
						<li> Metus aliquam pellentesque</li>
						<li> Suspendisse iaculis mauris</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>