<h1>Listing Shortcuts for <%=h @current_path.name %></h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Direction</th>
	<th>Polyline</th>
    <th>Options</th>
  </tr>

<%= render :partial => 'edges_from_path' %>


</table>

<br />
